@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap');

* {
    font-family: "Google Sans Code";
}

@keyframes wipeReveal {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}

.animate-wipe {
    animation: wipeReveal 1.2s ease forwards;
    animation-delay: 0.2s;
}


@keyframes typing {
  from { width: 0 }
  to   { width: var(--type-width); }
}

@keyframes blink {
  50% { border-color: transparent; }
}

.typeHeading {
  width: 0;
}

.typeHeading.active {
  animation:
    typing 1s steps(var(--characters), end) forwards,
    blink 0.8s step-end infinite;
}
